/* my grid okotoks reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
/* main style*/

h1,
img,
nav,
article,
footer {
  padding: 1em;
}

/*lets see how is it cool!*/

body {
  background-color: #eee;
}
#grid-container {
  display: inline;
  text-align: center;
  font-family: monospace;
  font-style: italic;
  font-size: 25px;
  height: 10px;
}
.okotoks-pizza {
  display: flex;
  flex-wrap: wrap;
  grid-column-start: left;
  grid-template-columns: auto;

}

#navigation {
  display: flex;
  align-content: space-between;
  width: 100%;
  background-color: coral;
  grid-column-start: 'navigation';
  grid-template: none;
  grid-column-end: span 6;

}
#navigation a {
  text-align: center;
  display: block;
  text-decoration: none;
  width: calc( 100% / 6 );
}
#navigation a:hover {
  color: red;
}
#content {
  text-align: center;
  font-family: fantasy;
  font-size: 35px;
  height: 900px;
  grid-column-end: span 2;
  text-align: right;
  background-image: url("../img/wall-table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#footer {
  height: 80px;
  background-color: green;
  grid-column-start: 'footer';
  grid-column-end: span 2;
}
